{% load static %}
<div class="accordion" id="faqAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          How does it work?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
           data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac nisi, vivamus vulputate elementum
            interdum ultrices in amet. Urna, non sapien convallis id magna amet congue donec et. Facilisi
            lacus amet eros nisl dignissim donec sit blandit felis. Nunc, lacus, ullamcorper nunc maecenas vulputate
            etiam nisl.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
          How can I trust you?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
           data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac nisi, vivamus vulputate elementum
            interdum ultrices in amet. Urna, non sapien convallis id magna amet congue donec et. Facilisi
            lacus amet eros nisl dignissim donec sit blandit felis. Nunc, lacus, ullamcorper nunc maecenas vulputate
            etiam nisl.</p>
        </div>
      </div>
    </div>
    <!-- Add additional accordion items as needed -->
  </div>
  