{% load static %}
<!-- Subscribe Section -->
<section class="subscribe-section" style="background-image: url('{% static 'images/bg/subscribe.jpg' %}');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-lg-8 text-center">
                <h2 class="section-title">Subscribe Our Newsletter</h2>
                <p class="subscribe-section-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <form class="subscribe-form" method="post" action="{% url 'radio:subscribe' %}">
                    {% csrf_token %}
                    <input type="email" name="email" class="form-control" placeholder="Email">
                    <button type="submit" class="btn btn-main">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>